### macOS ##############################################################################################################
.DS_Store
__MACOSX

### IDE ################################################################################################################
.idea
*.iml

### Logs ###################################################################################################################################
*.log

### Java ###################################################################################################################################
build
.gradle
*.hprof

### PHP ####################################################################################################################################
var
vendor

### NodeJS #################################################################################################################################
dist
node_modules
.yarn/cache
.yarn/install-state.gz

### Terraform ##############################################################################################################################
*.tfvars
.terraform

### Ansible ################################################################################################################################
.ansible
*.retry

### Sonar Scanner ##########################################################################################################################
.scannerwork

### Project ################################################################################################################################
