apiVersion: batch/v1
kind: Job
metadata:
  name: github-action-skaffold
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: version
          image: {{ .Values.image }}
          imagePullPolicy: IfNotPresent
          args:
            - version
